.weather-app {
  border: 1px solid #132743;
  padding: 35px 25px;
  max-width: 75%;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 32px;
  display: block;
  box-shadow: #917644;
  background: radial-gradient(
    1093px at -13.5% -13.6%,
    rgb(254, 192, 193) 6.2%,
    rgb(0, 67, 105) 98.8%
  );
}
h2 {
  color: #5a6275;
  border: 2px solid #132743;
  border-radius: 10px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.weather-description {
  font-size: 18px;
  font-weight: light;
  list-style: none;
}
.weather-condition {
  list-style: none;
}

#temperature {
  font-size: 45px;
  position: relative;
  top: 25px;
  right: 35px;
}

#country {
  font-size: 25px;
  font-weight: bold;
}

#celsius-link,
#farenheit-link {
  text-decoration: none;
}
.units {
  position: relative;
  top: 25px;
  right: 36px;
}
.col-6 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  transition: all 200ms ease-in-out;
}
.col-6:hover {
  color: rgb(207, 217, 235);
}
.col-2:hover {
  color: rgb(207, 217, 235);
}
.col-2 {
  border: 1px solid #132743;
  border-radius: 7px;
  font-family: "PT Mono", monospace;
  padding: 1px 5px;
  margin-top: 8px;
  margin-bottom: auto;
  transition: all 200ms ease-in-out;
  font-weight: bold;
}
#repo {
  position: relative;
  top: -7px;
  left: 30px;
  font-size: 18px;
}
#icon {
  position: relative;
  top: 4px;
  right: 23px;
  font-size: 20px;
}
